@media only screen and (max-width:767px) {
    .header-list {
        display: none;
    }
    .header-btn {
        display: block;
    }
    .user-icon {
        left: 0;
        font-size: 5vw;
    }
    .list a, li {color: var(--maincolor);}

    .main-section {
        height: 60vh;
    }
    .main-container {
        padding: 4vh 0;
    }

    .car-container {
        height: 20vh;
        width: 75%;
        font-size: 2.5vw;
    }
    .market-section a {
        padding: 3vw;
        font-size: 2vw;
    }

    .comments {
        height: 40vh;
    }

    .icons {
        transform: scale(0.8);
    }

    .login-form , .register-form {
        width: 80%;
        margin: 8vh auto;
    }
    /* #user-inp , #password-inp, .register-btn {
        /* padding: 1.5vw; */
        /* margin: 2vh auto; */
    /* }  */
    .register-btn {margin-top: 8vh; font-size: 3.5vw;}
    #user-inp::placeholder , #password-inp::placeholder {
        font-size: 2.5vw;
    }
    .register-titile, .login-title  {
        font-size: 6vw;
    }
    .login-link {
        font-size: 2vw;
    }

    
    
}
@media only screen and (max-width:991px) and (min-width:768px) { 

    .main-section {
        height: 80vh;
    }
    .main-container {
        padding: 5vh 0;
        margin-top: 25vh;
    }

    .car-container {
        height: 25vh;
        width: 75%;
        font-size: 2.8vw;
    }
    .market-section a {
        padding: 3vw;
        font-size: 2.4vw;
    }

    .comments {
        height: 45vh;
    }

    .icons {
        transform: scale(1);
    }

    .login-form , .register-form {
        width: 80%;
        margin: 8vh auto;
    }
    #user-inp , #password-inp, .register-btn {
        padding: 1.5vh;
        margin: 2vh auto;
    }
    .register-btn {margin-top: 8vh;}
    #user-inp::placeholder , #password-inp::placeholder {
        font-size: 2vw;
    }
    .register-titile, .login-title  {
        font-size: 6vw;
    }
    
    .login-link {
        font-size: 2vw;
    }
}
@media only screen and (max-width:1199px) and (min-width:992px) {

    .main-section {
        height: 100vh;
    }
    .main-container {
        padding: 6vh 0;
        margin-top: 25vh;
    }

    .car-container {
        height: vh;
        width: 25vw;
        font-size: 2.4vw;
    }
    .market-section a {
        padding: 2.5vw;
        font-size: 2.2vw;
    }

    .comments {
        height: 55vh;
    }

    .icons {
        transform: scale(1.3);
    }

    .login-form , .register-form {
        width: 80%;
        margin: 8vh auto;
    }
    /* #user-inp , #password-inp, .register-btn {
        padding: 1.5vh;
        margin: 2vh auto;
    } */
    .register-btn {margin-top: 8vh;}
    #user-inp::placeholder , #password-inp::placeholder {
        font-size: 1.6vw;
    }
    .register-titile, .login-title  {
        font-size: 6vw;
    }
    .login-link {
        font-size: 2vw;
    }
    
}
@media only screen and (min-width:993px) {
    /* .list {display: none;} */
    
}